$md-blue-100: #bbdefb;
$md-grey-400: #bdbdbd;
$md-grey-50: #fafafa;
$md-blue-grey-50: #eceff1;

// Grey
$md-grey-50: #fafafa;
$md-grey-100: #f5f5f5;
$md-grey-200: #eeeeee;
$md-grey-300: #e0e0e0;
$md-grey-400: #bdbdbd;
$md-grey-500: #9e9e9e;
$md-grey-600: #757575;
$md-grey-700: #616161;
$md-grey-800: #424242;
$md-grey-900: #212121;

// Blue Grey
$md-blue-grey-50: #eceff1;
$md-blue-grey-100: #cfd8dc;
$md-blue-grey-200: #b0bec5;
$md-blue-grey-300: #90a4ae;
$md-blue-grey-400: #78909c;
$md-blue-grey-500: #607d8b;
$md-blue-grey-600: #546e7a;
$md-blue-grey-700: #455a64;
$md-blue-grey-800: #37474f;
$md-blue-grey-900: #263238;

// Blue
$md-blue-50: #e3f2fd;
$md-blue-100: #bbdefb;
$md-blue-200: #90caf9;
$md-blue-300: #64b5f6;
$md-blue-400: #42a5f5;
$md-blue-500: #2196f3;
$md-blue-600: #1e88e5;
$md-blue-700: #1976d2;
$md-blue-800: #1565c0;
$md-blue-900: #0d47a1;
$md-blue-a100: #82b1ff;
$md-blue-a200: #448aff;
$md-blue-a400: #2979ff;
$md-blue-a700: #2962ff;

// Orange
$md-orange-50: #fff3e0;
$md-orange-100: #ffe0b2;
$md-orange-200: #ffcc80;
$md-orange-300: #ffb74d;
$md-orange-400: #ffa726;
$md-orange-500: #ff9800;
$md-orange-600: #fb8c00;
$md-orange-700: #f57c00;
$md-orange-800: #ef6c00;
$md-orange-900: #e65100;
$md-orange-a100: #ffd180;
$md-orange-a200: #ffab40;
$md-orange-a400: #ff9100;
$md-orange-a700: #ff6d00;

body {
  font-family: "Lucida Console", "Consolas", sans-serif;
  background-color: $md-grey-50;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
}

.section {
  font-family: "Ubuntu", Arial;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1200px;

  ul {
    list-style-type: none;
  }

}

.footer {
  text-align: center;
  padding: 2em;

  a {
    color: $md-blue-400;
    text-decoration: none;
  }
}

pre {
  border-left: 6px solid $md-orange-200;
  box-shadow: 0px 1px 2px $md-grey-400;
  display: block;
  overflow-x: auto;
  border-radius: 2px;
}

code {
  color: $md-blue-400;
}

.hero {
  font-size: 2em;
  background-color: $md-grey-100;
  min-height: 200px;
  text-align: center;

  .hero-title {
    font-size: 2em;
  }

  .hero-subtitle {
    font-size: .6em;
  }

  .hero-actions {
    padding-top: 1em;
  }

}

.subtitle {
  font-weight: 800;
  font-size: 1.5em;
}

.demo-item {
  height: 30px;
  background-color: $md-blue-200;
  text-align: center;
  line-height: 30px;
  font-size: .7em;
  border-radius: 2px;

  &.min {
    min-width: 85px;
  }

  &.tall {
    height: 250px;
  }
}

.flex-row {

  &.positioning {
    border: 1px solid $md-grey-600;
    margin-bottom: 1em;
    border-radius: 2px;

    &.tall {
      height: 100px;
    }
  }
}